* {
    border: none;
    border-radius: 0;
    font-family: "JetBrainsMono Nerd Font";
    font-weight: bold;
    font-size: 14px;
    min-height: 0;
}

window#waybar {
    background: transparent;
    color: #ffffff;
}

/* --- INSEL DESIGN --- */
#custom-launcher, #workspaces, #clock, #pulseaudio, #network, #custom-power {
    background: #000000;
    padding: 0px 16px;
    margin: 0px 4px;
    border-radius: 12px;
    border: 1px solid #333333;
}

#custom-launcher {
    color: #9d00ff;
    font-size: 18px;
    padding-right: 20px;
}

#workspaces button {
    padding: 0 4px;
    color: #555555;
}

#workspaces button.active {
    color: #9d00ff;
}

#network {
    color: #ffffff;
}

#custom-power {
    color: #ff5555;
    margin-right: 0;
}