* {
    border: none;
    border-radius: 0;
    font-family: "JetBrainsMono Nerd Font", Roboto, Helvetica, Arial, sans-serif;
    font-weight: bold;
    font-size: 14px;
    min-height: 0;
}

window#waybar {
    background: transparent; /* Transparenter Hintergrund */
    color: #ffffff;
}

/* Gemeinsamer Style für alle "Inseln" */
#custom-launcher, #workspaces, #wlr-taskbar, #clock, #pulseaudio, #network, #tray, #custom-power {
    background: #000000;
    padding: 0px 15px;
    margin: 0px 4px;
    border-radius: 15px;
    border: 1px solid #333333;
}

#custom-launcher {
    color: #1793d1; /* Arch Blue */
    padding-right: 20px; /* Mehr Platz für das Icon */
    font-size: 18px;
}

#workspaces button {
    padding: 0 5px;
    color: #666666;
}

#workspaces button.active {
    color: #ffffff;
}

#clock {
    font-weight: bold;
}

#pulseaudio {
    color: #ffffff;
}

#network {
    color: #ffffff;
}

#custom-power {
    color: #ff5555;
    margin-right: 0;
}

#wlr-taskbar button {
    padding: 0 5px;
    border-radius: 10px;
}

#wlr-taskbar button.active {
    background-color: #333333;
}