configuration {
    font: "JetBrainsMono Nerd Font 12";
    show-icons: false;
}

* {
    background-color: #000000;
    text-color: #FFFFFF;
    border-color: #333333;
    width: 512px;
}

window {
    border: 1px;
    padding: 20px;
}

inputbar {
    children: [prompt, entry];
}

prompt {
    padding: 0 10px 0 0;
}

listview {
    lines: 6;
}

element {
    padding: 5px;
}

element selected {
    background-color: #222222;
}